
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font: 13px Helvetica, Arial;
    background-color: black;
    background: repeating-linear-gradient(
      -45deg,
      #223,
      #223 10px,
      #012 10px,
      #012 20px
    );
}

button {
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    padding: 3px;
}
button:hover {
    background-color: #DDE;
}

#controls-container {
    margin: 10px;
    padding: 10px;
    padding-bottom: 0;
    background-color: rgba(255,255,255,0.8);
    color: #125;
}
#controls-container h2 {
    padding-bottom: 10px;
}
#controls-container h2 button {
    float: right;
    border: 1px solid #125;
    margin-left: 10px;
    padding: 3px 8px;
}

.control-group {
    display: inline-block;
    border-top: 1px solid #125;
    border-left: 1px solid #125;
    border-top-left-radius: 4px;
    padding: 10px;
    padding-bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}
.control-group-label {
    font-weight: bold;
    padding-bottom: 5px;
}

.control {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    background-color: #125;
    padding: 1px;
    color: white;
    width: 90px;
    text-align: center;
}

.control-picture {
    background-color: #125;
    width: 100%;
    color: white;
}
.control-picture:hover {
    background-color: #347;
}
.control-picture img {
    max-width: 100%;
    max-height: 90px;
    text-align: center;
}

.control-label {
    padding: 3px;
    overflow: hidden;
}

.control-button {
    display: block;
    width: 100%;
    border-bottom: 1px solid #125;
}
.control-button:last-child {
    border-bottom: none;
}

#scene {
    position: relative;
    margin: auto;
    background-color: white;
    height: 400px;
    width: 600px;
    color: white;
    overflow: hidden;
}
#scene.loading {
    padding: 30px;
    color: grey;
    transition: 2s;
    font-size: 20pt;
}

#clients {
    float: right;
    color: gray;
    margin-right: 10px;
}

.element {
    pointer-events: none;
    transition: transform 0.1s;
}
.element iframe {
    pointer-events: none;
}
.element.draggable, .element.clickable {
    cursor: pointer;
    pointer-events: auto;
}
.element.clickable {
    font-size: 30px;
    color: white;
    font-weight: bold;
    word-break: break-all;
}

iframe {
    border: 2px solid rgba(0,0,0,0.2);
}

.panel {
    background-color: white;
    border-radius: 2px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 20pt;
}
.panel a {
    font-weight: bold;
    text-decoration: none;
    color: #036;
}
.panel p, .panel h1 {
    margin-bottom: 20px;
}
.panel p:last-child {
    margin-bottom: 0;
}

.clear-tooltip .tlite {
  background-color: transparent;
  box-shadow: none;
  text-shadow: 1px 1px 3px black;
  padding-bottom: 0;
}

/* Tooltips */

.tlite {
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem -0.5rem black;
    z-index: 99999;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .tlite-table td,
  .tlite-table th {
    position: relative;
  }
  
  .tlite-visible {
    visibility: visible;
    opacity: 0.9;
  }
  